@font-face
{
    font-family: genshin;
    src: url("../fonts/Genshin_Impact.ttf");
}

.alert
{
    color: #fdffe8;
    font-family: genshin;
    background: linear-gradient(180deg, rgb(90,61,92), rgb(187, 20, 100));
    border: 2px solid #631150;
    border-radius: 7px;
}