<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= './css/chat.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <!-- Код взаимодействия с сервером -->
    <script language="JavaScript">
        // Загрузка и отображение сообщений
        function loadMessages()
        {
           $.get(
            "/get_messages",
            (data) => {
                $("#chat_window").empty();
                var messages = data["messages"];
                for (var i in messages) {
                    var message = messages[i];
                    var name = message["sender"];
                    var text = message["text"];
                    var time = message["time"];
                    console.log(name, text, time);
                    var html = "<div> [<b> " + name + " </b>]: " + text + " <i>" + time + "</i> </div>";
                    var div = $(html); // div = визуальный элемент с сообщением

                    $("#chat_window").append(div);
                }
            }
           );
        }

        // Отправка сообщения
        function sendMessage()
        {
            var name = "admin"; // Кладем текст из поля "name" в переменную
            var text = $("#text").val();
            $.get("/send_message", { "name" : name, "text" : text});

            $("#text").val("");
        }

        // При загрузке страницы
        $(() => {
           // При нажатии клавиш в поле текст
           $("#text").on("keypress", (event) => {
                // При нажатии Enter, вызвать функцию sendMessage
                if (event.keyCode == 13)
                {
                    sendMessage();
                    loadMessages();
                }
           });
            loadMessages();
        });

    </script>
</head>
<body>
    <div class="chat_frame">
        <div class="chat_window"></div>
        <div class="user_input">
            <input id="text" type="text" placeholder="Input Text">
            <button class="button arrow_bg">➤</button>
        </div>
    </div>
</body>
</html>